@model IEnumerable<MovieRentalManagementSystem.Models.Customer>

<button class="btn btn-info btn-lg" type="submit" onclick="location.href='@Url.Action("New", "Customer")'">Add Customer</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
       
        <th>Membership Type</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
       
        <td>
            @Html.ActionLink(item.Name, "Edit", new { id = item.Id })
        </td>
       
        <td>@item.MembershipType.Name </td>
        
    </tr>
}

</table>
